*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logoCircle{
  background-color: yellowgreen;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 0.75rem;
  color: white;
  font-weight: 600;
}
header{
  background-color: blueviolet;
  padding: 1rem;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav ul{
  display: flex;
  flex-direction: row;
  grid-gap: 1.5rem;
  list-style: none;

}
nav a{
  color: white;
  text-decoration: none;
  font-size: 16px;

}
main{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
section{
  margin-top: 55px;

}
.movies{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 2rem;
  list-style: none;
}
.movie img{
  width: 100%;
}